:root {
  --primary-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
  --primary-font-color: #ffffff;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-background-light-theme: #ffffff;
  --secondary-background-light-theme: #f5f4fa;
  --background-dark-theme: #2f303a;
  --bottom-font-color: rgba(255, 255, 255, 0.6);
}

body {
  font-family: var(--primary-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.accent {
  color: var(--accent-color);
}

.logo {
  font-family: var(--secondary-font-family);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--primary-text-color);
}

.logo-link {
  font-family: var(--secondary-font-family);
  color: var(--primary-font-color);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
}
/* =====start header=====*/

.header {
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  display: flex;
}

.nav-list {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 94px;
}

.nav-list-item {
  margin-right: 50px;
}

.nav-contact {
  display: flex;
  /* margin-right: 50px; */
}

.nav-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.nav-list-link:hover,
.nav-list-link:focus {
  color: var(--accent-color);
}

.contact-email {
  margin-left: auto;
  margin-right: 50px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.contact-email:hover,
.contact-email:focus {
  color: var(--accent-color);
}

.contact-number {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.contact-number:hover,
.contact-number:focus {
  color: var(--accent-color);
}

/* =====end header=====*/
/* =====start hero=====*/

.hero {
  text-align: center;
  background: var(--background-dark-theme);
}

.features {
  padding-top: 94px;
}

.features-list {
  display: flex;
}

.features-list-item {
  /* margin-right: not(last-child); */
}

.hero-filter {
  background: var(--primary-background-light-theme);
}

.features,
.jobs {
  background: var(--primary-background-light-theme);
}

.team {
  background: var(--secondary-background-light-theme);
}

.footer {
  background: var(--background-dark-theme);
}

.main-title {
  padding-top: 200px;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--primary-font-color);
}
/* hero portfolio */
.filter-list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
}
/* hero portfolio */

.modal-btn {
  min-width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 22px;
  padding-right: 22px;
  margin-bottom: 200px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  /* background: #2196F3; */
  border-radius: 4px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--primary-font-color);
  background: #188ce8;
}

/* =====end hero=====*/

.btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: var(--primary-text-color);
  /* align-items: center; */
}

.btn:hover,
.btn:focus {
  color: var(--primary-font-color);
  background: var(--accent-color);
}

.subtitle {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-text-color);
}

.description {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}

.jobs,
.team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.team-description {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.title-filter {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.subtitle-filter {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
/* =====start footer===== */
.contact-list {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--primary-font-color);
}

.contact-email-bottom,
.contact-number-bottom {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--bottom-font-color);
}
/* =====end footer===== */
